<head>
    <title>Aula 06 - Tópicos I - Dev</title>
    <script>
        function contar(val){
            location.href="/teste2/"+document.getElementById("idvalor").value;
        }
    </script>
</head>
<h1>Trabalho Final</h1>
<form action="/gravarpessoa" method="POST">
    <label>Codigo</label>
    <input type="text" name="codigo" value=""/>
    <label>Nome</label>
    <input type="text" name="nome" value=""/>
    <label>Endereço</label>
    <input type="text" name="endereco" value=""/>
    <input type="submit" value="Salvar"/>
</form>

<form action="/buscarTodospessoa" method="GET">
    <label>Codigo</label>
    <input type="text" name="codigo" disabled value="{{codigo}}"/>
    <label>Nome</label>
    <input type="text" name="nome" disabled value="{{nome}}"/>
    <label>Endereço</label>
    <input type="text" name="nome" disabled value="{{endereco}}"/>
    <input type="submit" value="Buscar"/>
</form>

<form action="/gravarproduto" method="POST">
    <label>Codigo</label>
    <input type="text" name="codigo" value=""/>
    <label>Descrição</label>
    <input type="text" name="descricao" value=""/>
    <label>Unidade de Medida</label>
    <input type="text" name="unidademedida" value=""/>
    <label>Preço Unitario</label>
    <input type="number" name="precoun" value=""/>
    <label>Estoque</label>
    <input type="number" name="estoque" value=""/>
    <input type="submit" value="Salvar"/>
</form>

<form action="/buscarTodosproduto" method="GET">
    <label>Codigo</label>
    <input type="text" name="codigo" disabled value="{{codigo}}"/>
    <label>Descrição</label>
    <input type="text" name="descricao" disabled value="{{descricao}}"/>
    <label>Unidade de Medida</label>
    <input type="text" name="unidademedida" disabled value="{{unidademedida}}"/>
    <label>Preço Unitario</label>
    <input type="number" name="precoun" disabled value="{{precoun}}"/>
    <label>Estoque</label>
    <input type="number" name="estoque" disabled value="{{estoque}}"/>
    <input type="submit" value="Buscar"/>
</form>

